---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import List from "../components/List.astro";

const projects = [
  "WAG5 Radio Shows",
  "Sleep Lab",
  "Re-Flesh",
  "Research Retreat",
  "info.demic",
  "Chees 'n'  Jazz",
  "Habitat as a space of confliction",
  "Gruppe5.org",
  "Algorithmic Microdosing",
  "Virtual Happyhour",
];

const workingGroups = ["SOUND AG", "BOOKCLUB", "CODING AG"];
---

<Layout title="WAG5 Archive">
  <main class="p-[0.1rem] w-full min-h-screen overflow-hidden">
    <h1 class="text-2xl leading-none text-left">WAG5 Archive</h1>

    <div class="absolute top-0 left-0 flex flex-row h-full w-full items-center">
      <div
        class="flex flex-col justify-start items-start gap-4 min-w-[fit-content]"
      >
        <button
          id="projectsBtn"
          class="btn py-2 px-4 cursor-pointer transition ease-linear active"
        >
          Projects
        </button>
        <button
          id="workingGroupsBtn"
          class="btn py-2 px-4 cursor-pointer transition ease-linear"
        >
          Working Groups
        </button>
      </div>

      <div class="flex-1 flex">
        <div id="projectsList" class="list show">
          <List items={projects} baseUrl="projects" />
        </div>
        <div id="workingGroupsList" class="list hidden">
          <List items={workingGroups} baseUrl="projects" />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .btn.active {
    text-decoration: underline;
  }

  .list {
    display: none;
  }

  .list.show {
    display: block;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const projectsBtn = document.getElementById("projectsBtn");
    const workingGroupsBtn = document.getElementById("workingGroupsBtn");
    const projectsList = document.getElementById("projectsList");
    const workingGroupsList = document.getElementById("workingGroupsList");

    if (
      !projectsBtn ||
      !workingGroupsBtn ||
      !projectsList ||
      !workingGroupsList
    ) {
      throw new Error("One or more elements could not be found in the DOM");
    }

    projectsBtn.addEventListener("click", () => {
      projectsBtn.classList.add("active");
      workingGroupsBtn.classList.remove("active");

      projectsList.classList.add("show");
      workingGroupsList.classList.remove("show");
    });

    workingGroupsBtn.addEventListener("click", () => {
      workingGroupsBtn.classList.add("active");
      projectsBtn.classList.remove("active");

      workingGroupsList.classList.add("show");
      projectsList.classList.remove("show");
    });
  });
</script>
